.neontext {
    text-shadow: -2px -2px 10px #ffe330, 2px 2px 10px #ffe330, 0 0 20px rgb(255, 166, 0), 0 0 40px rgb(255, 166, 0), 0 0 60px rgb(255, 166, 0), 0 0 80px rgb(255, 166, 0), 0 0 100px rgb(255, 166, 0);
}

