
.container {
display: grid;
grid-template-columns: repeat(0.5fr, 1.5fr);
grid-template-rows: (0.2fr, 1fr, 1fr, 1fr, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 3 / 2 / 4 / 3; }
.div8 { grid-area: 4 / 2 / 5 / 3; }
.div9 { grid-area: 5 / 2 / 6 / 3; }


img {
        height: 276.6px;
        width: 209.6px;
}


       

        @media all and (max-width: 768px) {
            
            .container {
                grid-template-columns: 1fr;
                grid-template-rows: 0.2fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
            }
        .div1 { grid-area: 1 / 1 / 2 / 2; }

        .div2 { grid-area: 2 / 1 / 3 / 2; }
        
        .div6 { grid-area: 3 / 1 / 4 / 2; 
                border-bottom: 5px solid black;}

        .div3 { grid-area: 4 / 1 / 5 / 2; }

        .div7 { grid-area: 5 / 1 / 6 / 2; 
                border-bottom: 5px solid black;}

        .div4 { grid-area: 6 / 1 / 7 / 2; }

        .div8 { grid-area: 7 / 1 / 8 / 2; 
                border-bottom: 5px solid black;}

        .div5 { grid-area: 8 / 1 / 9 / 2; }

        .div9 { grid-area: 9 / 1 / 10 / 2;}
        }

        